.custom-navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: orange;
  border: 1px solid transparent;
  border-radius: 5rem;
  transition: box-shadow 0.15s ease-in-out;
}

.custom-nav {
  margin-bottom: 50px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container > button {
  width: 45px;
  margin: 5px;
  text-align: center;
}

.flex-container > i {
  width: 40px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  vertical-align: auto;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.paraText {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.threeSimple {
  font-weight: bold;
  text-align: center;
}

#paraFeeling {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.btnSearchVehicle {
  background-color: orange;
  border: none;
  width: 10rem;
  height: 2rem;
  color: white;
}

.textColor {
  color: orange;
}

#footerMenu {
  display: flex;
}

.footerFlexMenu {
  margin-right: 7%;
}

.footerFlexMenu > p {
  opacity: 1;
  color: #6c757d;
}

.footerFlexMenu > h5 {
  font-weight: bolder;
}

.footerFlexMenuIcon {
  margin-right: 5%;
}

label {
  font-weight: bold;
}
